<!-- <h1>Create Category</h1> -->

<!-- <form action="/categories/create" id="createCategory" method="post" name="createCategory"> -->
<!--         Name:<input type="text" name="name" id="name"><br> -->
<!--       <1!-- <a href="#" onclick="document.createCategory.submit()">Submit</a> --1> -->
<!--       <button type="submit" form="createCategory" value="Submit">Delete</button> -->
<!-- </form> -->
<!-- <form action="/"> -->
<!--     <input type="submit" value="Home" /> -->
<!-- </form> -->



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iBelong - Create Category</title>
    <link rel="stylesheet" href="css/theme.css" type="text/css">
  </head>
  <body>
    <h1>Create Category</h1>
        <div>
        <form action="/categories/create" id="createCategory" method="post" name="createCategory">
            Name:<input type="text" name="name" id="name"><br>
          <!-- <a href="#" onclick="document.createCategory.submit()">Submit</a> -->
          <button type="submit" form="createCategory" value="Submit">Create</button>
          </form>
        </div>
    <a href="/" class="button">Home</a>
  </body>
</html>
