<!-- <h1>-Delete-</h1> -->
<!-- <form action="/categories/delete" id="deleteCategory" method="post" name="deleteCategory"> -->
<!--       <h3>Categories</h3> -->
<!--       <select name="categoryID" id="categoryID"> -->
<!--         {{range .}} -->
<!--             <option value="{{.ID}}">{{.Category}}</option> -->
<!--         {{end}} -->
<!--       </select> -->
<!--       <1!-- <a href="#" onclick="document.deleteCategory.submit()">Delete</a> --1> -->
<!--       <button type="submit" form="deleteCategory" value="Submit">Delete</button> -->
<!-- </form> -->
<!-- <form action="/"> -->
<!--     <input type="submit" value="Home" /> -->
<!-- </form> -->



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iBelong - Delete Category</title>
    <link rel="stylesheet" href="css/theme.css" type="text/css">
  </head>
  <body>
    <h1>Delete Category</h1>
      <div>
        <form action="/categories/delete" id="deleteCategory" method="post" name="deleteCategory">
              <select name="categoryID" id="categoryID">
                {{range .}}
                    <option value="{{.ID}}">{{.Category}}</option>
                {{end}}
              </select>
              <!-- <a href="#" onclick="document.deleteCategory.submit()">Delete</a> -->
              <button type="submit" form="deleteCategory" value="Submit">Delete</button>
        </form>
      </div>
      <a href="/" class="button">Home</a>
  </body>
</html>

