<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBelong-Home</title>
    <link rel="stylesheet" href="/css/pure/pure.css">
    <link rel="stylesheet" href="/css/pure-layout-side-menu/side-menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu custom-restricted-width">
          <a class="pure-menu-heading" href="#">iBelong</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/#" class="pure-menu-link"><i class="fas fa-home fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link"><i class="fas fa-users fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="fas fa-qrcode fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/settings/#" class="pure-menu-link"><i class="fas fa-cog fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="header">
        <h1><i class="fas fa-cog fa-1x"></i>Settings</h1>
        <!-- <h2>because keeping track of clothes is hard!</h2> -->
      </div>
      <div id="content">
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <!-- <li class="pure-menu-item pure-menu-selected"><a href="/users/" class="pure-menu-link">Users</a></li> -->
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="/users" id="menuLink1" class="pure-menu-link"><i class="fas fa-users"></i> Users</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="/users/create" class="pure-menu-link"><i class="fas fa-plus"> Add</i></a></li>
                <li class="pure-menu-item"><a href="/users/update" class="pure-menu-link"><i class="fas fa-edit"> Edit</i></a></li>
                <li class="pure-menu-item"><a href="/users/delete" class="pure-menu-link"><i class="fas fa-minus"> Delete</i></a></li>
                <li class="pure-menu-item"><a href="/users" class="pure-menu-link"><i class="fas fa-list-ul"> List</i></a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="/items" id="menuLink1" class="pure-menu-link"><i class="fas fa-shopping-basket"></i> Items</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/items/create" class="pure-menu-link"><i class="fas fa-plus"> Add</i></a></li>
                        <li class="pure-menu-item"><a href="/items/update" class="pure-menu-link"><i class="fas fa-edit"> Edit</i></a></li>
                        <li class="pure-menu-item"><a href="/items/delete" class="pure-menu-link"><i class="fas fa-minus"> Delete</i></a></li>
                        <li class="pure-menu-item"><a href="/items" class="pure-menu-link"><i class="fas fa-list-ul"> List</i></a></li>
                    </ul>
                </li>
            </ul>
        </li>



        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="/categories" id="menuLink1" class="pure-menu-link"><i class="fas fa-square"></i> Categories</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="/categories/create" class="pure-menu-link"><i class="fas fa-plus"> Add</i></a></li>
                <li class="pure-menu-item"><a href="/categories/update" class="pure-menu-link"><i class="fas fa-edit"> Edit</i></a></li>
                <li class="pure-menu-item"><a href="/categories/delete" class="pure-menu-link"><i class="fas fa-minus"> Delete</i></a></li>
                <li class="pure-menu-item"><a href="/categories" class="pure-menu-link"><i class="fas fa-list-ul"> List</i></a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="/subcategories" id="menuLink1" class="pure-menu-link"><i class="fas fa-sitemap"></i> SubCategories</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/subcategories/create" class="pure-menu-link"><i class="fas fa-plus"> Add</i></a></li>
                        <li class="pure-menu-item"><a href="/subcategories/update" class="pure-menu-link"><i class="fas fa-edit"> Edit</i></a></li>
                        <li class="pure-menu-item"><a href="/subcategories/delete" class="pure-menu-link"><i class="fas fa-minus"> Delete</i></a></li>
                        <li class="pure-menu-item"><a href="/subcategories" class="pure-menu-link"><i class="fas fa-list-ul"> List</i></a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="/details" id="menuLink1" class="pure-menu-link"><i class="fas fa-info"></i> Details</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="/details/create" class="pure-menu-link"><i class="fas fa-plus"> Add</i></a></li>
                <li class="pure-menu-item"><a href="/details/update" class="pure-menu-link"><i class="fas fa-edit"> Edit</i></a></li>
                <li class="pure-menu-item"><a href="/details/delete" class="pure-menu-link"><i class="fas fa-minus"> Delete</i></a></li>
                <li class="pure-menu-item"><a href="/details" class="pure-menu-link"><i class="fas fa-list-ul"> List</i></a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="/descriptors" id="menuLink1" class="pure-menu-link"><i class="fas fa-file-alt"></i> Descriptions</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/descriptors/create" class="pure-menu-link"><i class="fas fa-plus"> Add</i></a></li>
                        <li class="pure-menu-item"><a href="/descriptors/update" class="pure-menu-link"><i class="fas fa-edit"> Edit</i></a></li>
                        <li class="pure-menu-item"><a href="/descriptors/delete" class="pure-menu-link"><i class="fas fa-minus"> Delete</i></a></li>
                        <li class="pure-menu-item"><a href="/descriptors" class="pure-menu-link"><i class="fas fa-list-ul"> List</i></a></li>
                    </ul>
                </li>
            </ul>
        </li>


    </ul>
</div>
        <!-- <div class="pure-g"> -->
        <!--     <div class="pure-u-1-3"> -->
        <!--       <a href="/users/" class="pure-button">Users</a> -->
        <!--       <a href="/items/" class="pure-button">Items</a> -->
        <!--     </div> -->

        <!--     <div class="pure-u-1-3"> -->
        <!--       <a href="/categories/" class="pure-button">Categories</a> -->
        <!--       <a href="/subcategories/" class="pure-button">SubCategories</a> -->
        <!--     </div> -->
        <!--     <div class="pure-u-1-3"> -->
        <!--       <a href="/details/" class="pure-button">Details</a> -->
        <!--       <a href="/descriptors/" class="pure-button">Descriptions</a> -->
        <!--     </div> -->
        <!-- </div> -->
      </div>
    </div>

  </div>
  <script src="/js/pure-layout-side-menu/ui.js"></script>
  <script src="/js/pure-dropdown-menu/menus.js"></script>
  </body>
</html>
