<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iBelong - Create Detail</title>
    <link rel="stylesheet" href="../css/theme.css" type="text/css">
  </head>
  <body>
    <h1>Create Detail</h1>
        <div>
        <form action="/details/create" id="createDetail" method="post" name="createDetail">
            Name:<input type="text" name="name" id="name"><br>
          <!-- <a href="#" onclick="document.createDetail.submit()">Submit</a> -->
          <button type="submit" form="createDetail" value="Submit">Create</button>
          </form>
        </div>
    <a href="/" class="button">Home</a>
  </body>
</html>
