<!-- <h1>-Delete-</h1> -->
<!-- <form action="/details/delete" id="deleteDetail" method="post" name="deleteDetail"> -->
<!--       <h3>Details</h3> -->
<!--       <select name="detailID" id="detailID"> -->
<!--         {{range .}} -->
<!--             <option value="{{.ID}}">{{.Detail}}</option> -->
<!--         {{end}} -->
<!--       </select> -->
<!--       <1!-- <a href="#" onclick="document.deleteDetail.submit()">Delete</a> --1> -->
<!--       <button type="submit" form="deleteDetail" value="Submit">Delete</button> -->
<!-- </form> -->
<!-- <form action="/"> -->
<!--     <input type="submit" value="Home" /> -->
<!-- </form> -->



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iBelong - Delete Detail</title>
    <link rel="stylesheet" href="../css/theme.css" type="text/css">
  </head>
  <body>
    <h1>Delete Detail</h1>
      <div>
        <form action="/details/delete" id="deleteDetail" method="post" name="deleteDetail">
              <select name="detailID" id="detailID">
                {{range .}}
                    <option value="{{.ID}}">{{.Detail}}</option>
                {{end}}
              </select>
              <!-- <a href="#" onclick="document.deleteDetail.submit()">Delete</a> -->
              <button type="submit" form="deleteDetail" value="Submit">Delete</button>
        </form>
      </div>
      <a href="/" class="button">Home</a>
  </body>
</html>
