<!-- <h1>-Delete-</h1> -->
<!-- <form action="/details/delete" id="deleteDetail" method="post" name="deleteDetail"> -->
<!--       <h3>Details</h3> -->
<!--       <select name="detailID" id="detailID"> -->
<!--         {{range .}} -->
<!--             <option value="{{.ID}}">{{.Detail}}</option> -->
<!--         {{end}} -->
<!--       </select> -->
<!--       <1!-- <a href="#" onclick="document.deleteDetail.submit()">Delete</a> --1> -->
<!--       <button type="submit" form="deleteDetail" value="Submit">Delete</button> -->
<!-- </form> -->
<!-- <form action="/"> -->
<!--     <input type="submit" value="Home" /> -->
<!-- </form> -->


<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iBelong - Delete Detail</title>
    <link rel="stylesheet" href="../css/theme.css" type="text/css">
  </head>
  <body>
    <h1>Delete Detail</h1>
      <div>
        <form action="/details/delete" id="deleteDetail" method="post" name="deleteDetail">
              <select name="detailID" id="detailID">
                {{range .}}
                    <option value="{{.ID}}">{{.Detail}}</option>
                {{end}}
              </select>
              <button type="submit" form="deleteDetail" value="Submit">Delete</button>
        </form>
      </div>
      <a href="/" class="button">Home</a>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBelong - Delete Detail</title>
    <link rel="stylesheet" href="/css/pure/pure.css">
    <link rel="stylesheet" href="/css/pure-layout-side-menu/side-menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu custom-restricted-width">
          <a class="pure-menu-heading" href="#">iBelong</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link"><i class="fas fa-home fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link"><i class="fas fa-users fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="fas fa-qrcode fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/settings" class="pure-menu-link"><i class="fas fa-cog fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="header">
        <h1><i class="fas fa-minus"></i> Detail</h1>
      </div>
      <div id="content" class="center">
        <form class="pure-form pure-form-stacked" action="/details/delete" id="deleteDetail" method="post" name="deleteDetail">
            <fieldset>
              <label form="detailID">Select Detail to Remove</label>
              <select name="detailID" id="detailID">
                {{range .}}
                    <option value="{{.ID}}">{{.Detail}}</option>
                {{end}}
              </select>

              <button class="pure-button pure-button-primary" type="submit" form="deleteDetail" value="Submit" onclick="notify()">Remove</button>
            </fieldset>
        </form>

        <br><hr><button class="pure-button pure-button-primary" onclick="goBack()"><i class="fas fa-long-arrow-alt-left"> Go Back</i></button>

      </div>
    </div>

  </div>
  <script src="/js/pure-layout-side-menu/ui.js"></script>
  <script src="/js/pure-dropdown-menu/menus.js"></script>
  <script>
    function notify(){
      var e = document.getElementById("detailID");
      var cat = e.options[e.selectedIndex].text;
      alert( cat + " has been removed, along with any related descriptions!");
    }
  function goBack() {
      window.history.back();
  }
  </script>
  </body>
</html>
