
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iBelong - Details</title>
    <link rel="stylesheet" href="css/theme.css" type="text/css">
  </head>
  <body>
    <h1>Details</h1>
      <div>
        <ul>
        {{range .}}
                <li>{{.Detail}}</li>
        {{end}}
        </ul>
      <a href="/details/create" class="button">Add</a>
      <a href="/details/update" class="button">Edit</a>
      <a href="/details/delete" class="button">Delete</a>
      </div>
      <a href="/" class="button">Home</a>
  </body>
</html>
