<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/theme.css" type="text/css">
  </head>
  <body>
      <h1>iBelong</h1>
      <div>
          <a href="/users" class="button">Users</a>
          <a href="/items" class="button">Items</a>
          <a href="/categories" class="button">Categories</a>
          <a href="/subcategories" class="button">SubCategories</a>
      </div>
      <a href="/" class="button">Home</a>
  </body>
</html>
