<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBelong - Create Description</title>
    <link rel="stylesheet" href="/css/pure/pure.css">
    <link rel="stylesheet" href="/css/pure-layout-side-menu/side-menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu custom-restricted-width">
          <a class="pure-menu-heading" href="#">iBelong</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link"><i class="fas fa-home fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link"><i class="fas fa-users fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="fas fa-qrcode fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/settings" class="pure-menu-link"><i class="fas fa-cog fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="header">
        <h1><i class="fas fa-plus"></i> Description</h1>
      </div>
      <div id="content" class="center">
        <form class="pure-form pure-form-stacked" action="/descriptors/create" id="createDescriptor" method="post" name="createDescriptor">
            <fieldset>

              <label for="detailID">Select Detail</label>
              <select name="detailID" id="detailID" onchange="unlock(this)">
                  <option value="empty">---</option>
                {{range .}}
                  <option value="{{.ID}}">{{.Detail}}</option>
                {{end}}
              </select>

              <br>

              <label for="name">Descriptions's Name</label>
              <input type="text" name="name" id="name" value="Must Select Detail" placeholder="Name" disabled><br>

              <button class="pure-button pure-button-primary" type="submit" form="createDescriptor" value="Submit" onclick="notify()">Create</button>

            </fieldset>
        </form>
          <div id="devSubCat" name="devSubCat"></div>

        <br><hr><button class="pure-button pure-button-primary" onclick="goBack()"><i class="fas fa-long-arrow-alt-left"> Go Back</i></button>

      </div>
    </div>

  </div>
  <script src="/js/pure-layout-side-menu/ui.js"></script>
  <script src="/js/pure-dropdown-menu/menus.js"></script>
  <script>
    function notify(){
      var e = document.getElementById("detailID");
      var cat = e.options[e.selectedIndex].text;
      var subcat = document.getElementById('name').value;
      alert(subcat + " has been added to " + cat + ".");
    }
      function unlock(sel) {
        if (sel.selectedIndex != 0) {
        document.getElementById("name").disabled = false;
        document.getElementById("name").setAttribute("value", "");
        loadDoc(sel.value)

        } else {
        document.getElementById("name").setAttribute("value","Must Select Detail");
        document.getElementById("name").disabled = true;
        document.getElementById("devSubCat").innerHTML = "";
        }
      }

      function function1() {
        var ul = document.getElementById("list");
        var li = document.createElement("li");
        li.appendChild(document.createTextNode("Four"));
        ul.appendChild(li);
      }
  function loadDoc(id) {
    el = document.getElementById("devSubCat");
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "http://10.0.0.13:8081/aeckard87/wornOut/v1/details/" + id + "/descriptors", true);
    xhttp.setRequestHeader("Content-Type", "application/json")
    xhttp.setRequestHeader("Accept", "application/json")
    xhttp.onreadystatechange=function() {
      if (this.readyState == 4 && this.status == 200) {
        json = JSON.parse(this.responseText);
        if (json.length == 0){
          while (el.firstChild) el.removeChild(el.firstChild);
          el.innerHTML = '<hr><br><p style="text-align: center;">No Descriptions for selected Detail exist. You should add one!</p>';
        }else{
          while (el.firstChild) el.removeChild(el.firstChild);
          // el.innerHTML = '';
          el.innerHTML = '<hr><br><p style="text-align: center;">Descriptions already in selected Detail:</p><ol id="demo" name="demo"></ol>';
          var list = document.getElementById('demo');
          for( index in json ){
            var value = json[index];
            var entry = document.createElement('li');
            entry.appendChild(document.createTextNode(value.descriptor));
            list.appendChild(entry);
          }
        }
      }
    };
    xhttp.send();
  }
  function goBack() {
      window.history.back();
  }
    </script>
  </body>
</html>
