<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBelong - Delete Description</title>
    <link rel="stylesheet" href="/css/pure/pure.css">
    <link rel="stylesheet" href="/css/pure-layout-side-menu/side-menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu custom-restricted-width">
          <a class="pure-menu-heading" href="#">iBelong</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link"><i class="fas fa-home fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link"><i class="fas fa-users fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="fas fa-qrcode fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/settings" class="pure-menu-link"><i class="fas fa-cog fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="header">
        <h1><i class="fas fa-minus"></i> Description</h1>
        <h2>By Detail</h2>
      </div>
      <div id="content" class="center">
        <form class="pure-form pure-form-stacked" action="/descriptors/delete" id="deleteDescriptor" method="post" name="deleteDescriptor">
            <fieldset>
              <label form="detailID">Detail where Description resides:</label>
              <select name="detailID" id="detailID" onchange="load(this)">
                <option >---</option>
                {{range .}}
                    <option value="{{.ID}}">{{.Detail}}</option>
                {{end}}
              </select>
              <br>
              <label form="descriptorID" id="descLabel" name="descLabel" style="visibility: hidden;">Description to be removed:</label>
              <select name="descriptorID" id="descriptorID" style="visibility: hidden;"></select>

              <button class="pure-button pure-button-primary" type="submit" form="deleteDescriptor" value="Submit" onclick="notify()">Remove</button>
            </fieldset>
        </form>

        <br><hr><button class="pure-button pure-button-primary" onclick="goBack()"><i class="fas fa-long-arrow-alt-left">Go Back</i></button>

      </div>
    </div>

  </div>
  <script src="/js/pure-layout-side-menu/ui.js"></script>
  <script src="/js/pure-dropdown-menu/menus.js"></script>
  <script>
    function notify(){
      var e = document.getElementById("descriptorID");
      var desc = e.options[e.selectedIndex].text;
      alert( desc + " has been removed!");
    }

    function load(id) {
      var x = document.getElementById('descriptorID');
      var len = document.getElementById('descriptorID').length;
      if (len > 0) {
        for (i = 0; i < len; i++) {
          x.innerHTML = "";
         // x.remove(i)
        }
      }
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "http://10.0.0.13:8081/aeckard87/wornOut/v1/details/" + id.value + "/descriptors", true);
      xhttp.setRequestHeader("Content-Type", "application/json")
      xhttp.setRequestHeader("Accept", "application/json")
      xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
          json = JSON.parse(this.responseText);
          if (json.length == 0){
            x.style.visibility = 'hidden';
            document.getElementById('descLabel').style.visibility = 'hidden'
           // option.text="---";
           // x.add(option)
          }else{
            if (x.style.visibility == 'hidden') {
              x.style.visibility = 'visible';
              document.getElementById('descLabel').style.visibility = 'visible'
            }
            for( index in json ){
              var option = document.createElement("option");
              var value = json[index];

              option.text=value.descriptor;
              option.value=value.id;
              x.add(option)
            }
          }
        }
      };
      xhttp.send();
    }
  function goBack() {
      window.history.back();
  }
  </script>
  </body>
</html>
