<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBelong - {{.FirstName}}'s Closet</title>
    <link rel="stylesheet" href="/css/pure/pure.css">
    <link rel="stylesheet" href="/css/pure-layout-side-menu/side-menu.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <style>
      li {
        margin:8px;
      }
    </style>
  </head>
  <body>
    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu custom-restricted-width">
          <a class="pure-menu-heading" href="#">iBelong</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link"><i class="fas fa-home fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link"><i class="fas fa-users fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="fas fa-qrcode fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/settings" class="pure-menu-link"><i class="fas fa-cog fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="header">
        <h1><i class="fas fa-user"></i> {{.FirstName}}'s Closet</h1>
      </div>
      <div id="content" class="center">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <div class="pure-g">
                  <ul>
                    <li class="pure-u-1"><i class="fas fa-info fa-2x"></i> Category </li>
                </ul>
                </div>
            </fieldset>
        </form>
        <br><hr><button class="pure-button pure-button-primary" onclick="goBack()"><i class="fas fa-long-arrow-alt-left"> Go Back</i></button>
        <a href="/users/{{.ID}}" class="pure-button pure-button-primary" ><i class="fas fa-user">{{.FirstName}}'s Profile</i></a>

      </div>
    </div>

  </div>
  <script src="/js/pure-layout-side-menu/ui.js"></script>
  <script src="/js/pure-dropdown-menu/menus.js"></script>
  <script>
    var gSubcategory
    var gDescription
    var descriptions = {{.Item.Descriptions}}
    function start(){
      console.log(descriptions)
      subcatID = '{{.Item.SubCategoryID}}';
      ownerID = '{{.Item.UserID}}';
   // descriptions = '{{(index .Item.Descriptions 0).Descriptor}}';

      request("users/" + ownerID,getOwner);
      request("subcategories/" + subcatID,getSubcategory);


      {{if .Item.Descriptions -}}
        {{- range .Item.Descriptions}}
          getDescription({{.}});
        {{end}}
      {{- end}}

    }

  function goBack() {
      window.history.back();
  }

  function getOwner(user){
    console.log(user)
    document.getElementById("owner").innerHTML = "Owner: <b>" + user.firstName + "</b>";
  }
  function getSubcategory(subcategory){
    gSubcategory = subcategory
    request('categories/' + subcategory.categoryID, getCategory)
  }

  function getCategory(category){
    console.log(category);
    console.log(gSubcategory)
    document.getElementById("category").innerHTML = "Categorized as:<br><b> " + gSubcategory.subcategory + "</b> under <b>" + category.category + "</b>.";
  }

  function getDescription(descriptor){
    console.log(descriptor);
    gDescription = descriptor
    request('details/' + descriptor.detailId, getDetail)
  }

  function getDetail(detail){
    console.log(detail)
    detailButton = "detailButton" + detail.id;
    document.getElementById(detailButton).innerHTML = detail.detail;
  }

  function request(ep, callback){
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", {{.API.URI}} + "/v1/" + ep, true);
    xhttp.setRequestHeader("Content-Type", "application/json")
    xhttp.setRequestHeader("Accept", "application/json")
    xhttp.onreadystatechange =function() {
      if (this.readyState == 4 && this.status == 200) {
        json = JSON.parse(this.responseText);
        callback(json);
      }
    };
    xhttp.send();
  }

  function load(id) {
    for (e in descriptions) {
      if (descriptions[e].id == id.value) {
        if (document.getElementById(id.value).value == "true") {
            document.getElementById(id.value).innerHTML = "";
              document.getElementById(id.value).value="false";
        }else{
          document.getElementById(id.value).innerHTML = "";
          json = descriptions[e];
          if (json.length == 0){
            document.getElementById(id.value).value="true";
            document.getElementById(id.value).innerHTML = '<p>No Descriptions for selected Detail exist.';
          }else{
            document.getElementById(id.value).value="true";
            var list = document.getElementById(id.value);
            var entry = document.createElement('li');
            entry.appendChild(document.createTextNode(json.descriptor));
            list.appendChild(entry);
          }
        }
      }

    }
  }

  </script>
  </body>
</html>
<!-- <!DOCTYPE html> -->
<!-- <html lang="en" dir="ltr"> -->
<!--   <head> -->
<!--     <meta charset="utf-8"> -->
<!--     <title>iBelong - Owner's Items</title> -->
<!--     <link rel="stylesheet" href="../../css/theme.css" type="text/css"> -->
<!--   </head> -->
<!--   <body> -->
<!--     <h1>{{.FirstName}}'s Items</h1> -->
<!--         <div> -->
<!--             {{if .Items -}} -->
<!--             <ul> -->
<!--                 {{- range .Items}} -->
<!--                         <li>{{.Name}}</li> -->
<!--                 {{end}} -->
<!--             </ul> -->
<!--             {{- else}} -->
<!--             No Items Found. -->
<!--             {{- end}} -->
<!--         </div> -->
<!--       <a href="/" class="button">Home</a> -->
<!--   </body> -->
<!-- </html> -->
