<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBelong - {{.Name}}</title>
    <link rel="stylesheet" href="/css/pure/pure.css">
    <link rel="stylesheet" href="/css/pure-layout-side-menu/side-menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <style>
    .contained {
    /* background-color: rgb(0, 120, 231); */
    border: 5px solid rgb(0, 120, 231);
    padding: 5px;
    margin: 15px;
    box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4);
    }
    </style>

  </head>
  <body onload="start()">

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu custom-restricted-width">
          <a class="pure-menu-heading" href="#">iBelong</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link"><i class="fas fa-home fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link"><i class="fas fa-users fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><i class="fas fa-qrcode fa-3x"></i></a></li>
            <li class="pure-menu-item"><a href="/settings" class="pure-menu-link"><i class="fas fa-cog fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

    <div id="main" class="pure-g">
      <div class="header pure-u-1">
        <h1><i class="fas fa-basket"></i> {{.Name}}</h1>
      </div>
      <div id="content" class="l-box-5 center">

        <div class="l-box-5 contained">
            <div class="pure-u-1 pure-u-md-1-2">
                <p class="pure-u-23-24" id="owner" name="owner"></p>
            </div>

            <div class="pure-u-1 pure-u-md-1-2">
                <p class="pure-u-23-24" id="category" name="category"></p>
            </div>
        </div>
        <div class="pure-u contained">
          <h3>Details:</h3>
            {{range .Descriptions}}
            <div class="pure-u-sm-1-3">
                <ul list-style-type="none">
                  <li value="{{.ID}}" onclick="load(this)" style="list-style-type:none;"><button class="pure-button pure-button" id="detailButton{{.DetailID}}" name="detailButton{{.DetailID}}"></button><br>
                    <ul list-style-type="none" id="{{.ID}}" value="false"></ul>
                  </li>

                </ul>
            </div>
            {{end}}
        </div>

        <br><hr><button class="pure-button pure-button-primary" onclick="goBack()"><i class="fas fa-long-arrow-alt-left"> Go Back</i></button>

      </div>
    </div>

  </div>
  <script src="/js/pure-layout-side-menu/ui.js"></script>
  <script src="/js/pure-dropdown-menu/menus.js"></script>
  <script>
    var gSubcategory
    var gDescription
    var descriptions = {{.Descriptions}}
    function start(){
      console.log(descriptions)
      subcatID = '{{.SubCategoryID}}';
      ownerID = '{{.UserID}}';
   // descriptions = '{{(index .Descriptions 0).Descriptor}}';

      request("users/" + ownerID,getOwner);
      request("subcategories/" + subcatID,getSubcategory);


      {{if .Descriptions -}}
        {{- range .Descriptions}}
          getDescription({{.}});
        {{end}}
      {{- end}}

    }

  function goBack() {
      window.history.back();
  }

  function getOwner(user){
    console.log(user)
    document.getElementById("owner").innerHTML = "Owner: <b>" + user.firstName + "</b>";
  }
  function getSubcategory(subcategory){
    gSubcategory = subcategory
    request('categories/' + subcategory.categoryID, getCategory)
  }

  function getCategory(category){
    console.log(category);
    console.log(gSubcategory)
    document.getElementById("category").innerHTML = "Categorized as:<br><b> " + gSubcategory.subcategory + "</b> under <b>" + category.category + "</b>.";
  }

  function getDescription(descriptor){
    console.log(descriptor);
    gDescription = descriptor
    request('details/' + descriptor.detailId, getDetail)
  }

  function getDetail(detail){
    console.log(detail)
    detailButton = "detailButton" + detail.id;
    document.getElementById(detailButton).innerHTML = detail.detail;
  }

  function request(ep, callback){
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "http://10.0.0.13:8081/aeckard87/wornOut/v1/" + ep, true);
    xhttp.setRequestHeader("Content-Type", "application/json")
    xhttp.setRequestHeader("Accept", "application/json")
    xhttp.onreadystatechange =function() {
      if (this.readyState == 4 && this.status == 200) {
        json = JSON.parse(this.responseText);
        callback(json);
      }
    };
    xhttp.send();
  }

  function load(id) {
    for (e in descriptions) {
      if (descriptions[e].id == id.value) {
        if (document.getElementById(id.value).value == "true") {
            document.getElementById(id.value).innerHTML = "";
              document.getElementById(id.value).value="false";
        }else{
          document.getElementById(id.value).innerHTML = "";
          json = descriptions[e];
          if (json.length == 0){
            document.getElementById(id.value).value="true";
            document.getElementById(id.value).innerHTML = '<p>No Descriptions for selected Detail exist.';
          }else{
            document.getElementById(id.value).value="true";
            var list = document.getElementById(id.value);
            var entry = document.createElement('li');
            entry.appendChild(document.createTextNode(json.descriptor));
            list.appendChild(entry);
          }
        }
      }

    }
  }

  </script>
  </body>
</html>
