<!-- <h1>Users<h1> -->
<!-- {{range .}} -->

<!-- <form action="/users/{{.ID}}/items"> -->
<!--     <input type="submit" value="{{.FirstName}} {{.LastName}}" /> -->
<!-- </form> -->

<!-- {{end}} -->

<!-- <form action="/"> -->
<!--     <input type="submit" value="Home" /> -->
<!-- </form> -->



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iBelong - Users</title>
    <link rel="stylesheet" href="css/theme.css" type="text/css">
  </head>
  <body>
      <h1>Users</h1>
      <div>
          {{range .}}
          <a href="/users/{{.ID}}/items" class="button">{{.FirstName}} {{.LastName}}</a>
          {{end}}
      </div>
      <a href="/" class="button">Home</a>
  </body>
</html>

